.c-identicon {
  width: rem(42px);
  height: rem(42px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid rgb(219, 219, 219);
}