 // ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #000000;
$close-white: #f5f5f5;
$light-grey: #e7e7e7;

// Specific
// =============================================================================
$default: #1c64f2;
$danger: #e02424;
$dark: #1f2937;
$soft: #6e7783;
$alternative: #1f2937;

// Link
$link-color:       #1A0DAB;
$link-focus-color: #1A0DAB;
$link-hover-color: darken(#1A0DAB, 10%);
// Selection
$selection-text-color:       #3297FD;
$selection-background-color: #FFFFFF;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;